{% extends "layouts/main-legalrep.html" %}

{% block pageTitle %}
  Manage cases – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block main %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="grid-item-case-list govuk-heading-xl">
          <div class="case-header">
            <h1 class="case-list-header" style="font-size: 40px;">Respond to claim</h1>
          </div> <!-- Close the "case-header" container -->
          <div class="govuk-!-padding-bottom-8"></div>

          <h3 class="govuk-heading-m">#1234-5678-9101-2131</h3>

          <h3 class="govuk-heading-m">Mediation contact information</h3>

          <p>Please provide the contact details of the individual who will conduct the mediation appointment.</p>
  
          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              First name
            </label>
            <input class="govuk-input" id="event-name" name="eventName" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              Last name
            </label>
            <input class="govuk-input" id="event-name" name="eventName" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              Email address
            </label>
            <input class="govuk-input" id="event-name" name="eventName" type="text">
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="event-name">
              Telephone number
            </label>
            <input class="govuk-input" id="event-name" name="eventName" type="text">
          </div>

     
            <a href="date-picker.html">
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>

              <div class="govuk-button-group">
                <a class="govuk-link" href="index.html">Cancel</a>
              </div>

            </a>
          </div>

       
         
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}