{% extends "layouts/main-legalrep.html" %}

{% block pageTitle %}
  Manage cases – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block main %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="grid-item-case-list govuk-heading-xl">
          <div class="case-header">
            <h1 class="case-list-header" style="font-size: 40px;">View and respond to defence</h1>
          </div> <!-- Close the "case-header" container -->
          <div class="govuk-!-padding-bottom-8"></div>

          <h3 class="govuk-heading-m">#1234-5678-9101-2131</h3>

          <h2 class="govuk-heading-m">Hearing Availability</h2>

            <p>Will you be using an interpreter, either for your client, or for a witness at the hearing?</p>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  
                </h1>
              </legend>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive" name="whereDoYouLive" type="radio" value="england">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="whereDoYouLive-2" name="whereDoYouLive" type="radio" value="scotland">
                  <label class="govuk-label govuk-radios__label" for="whereDoYouLive-2">
                    No
                  </label>
                </div>
            </fieldset>
          </div>

          <div class="govuk-button-group">
            <a href="dates-unavailable-hearing-claimant.html">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Previous
              </button>
            </a>
            <a href="court-location-claimant.html">
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </a>
          </div>

          <div class="govuk-button-group">
          <a class="govuk-link" href="start-dashboard-claimant.html">Cancel</a>
        </div>




         
        </div>
      </div>
    </div>
  </div>
  

{% endblock %}