{% extends "layouts/main-legalrep.html" %}

{% block pageTitle %}
  Manage cases – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block main %}
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="grid-item-case-list govuk-heading-xl">
          <div class="case-header">
            <h1 class="case-list-header" style="font-size: 40px;">View and respond to defence</h1>
          </div>
          <div class="govuk-!-padding-bottom-8"></div>

          <h3 class="govuk-heading-m">#1234-5678-9101-2131</h3>
      
                <p>Please provide the names of the people who will be attending the mediation appointment</p>

                <div class="govuk-!-padding-bottom-4"></div>
          

            <div id="inputs-container">
              <div class="input-row">
                <input class="govuk-input" type="text" name="more-detail" maxlength="15" aria-describedby="more-detail-hint" style="width: 20ch;">
                <button class="govuk-button govuk-button--secondary" onclick="deleteInput(this)">Delete</button>
              </div>
            </div>
         

          <button class="govuk-button govuk-button--secondary" onclick="addAnother()">Add Another</button>

     

          <div class="govuk-button-group">
            <a href="email-address-claimant.html">
              <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
                Previous
              </button>
            </a>
            <a href="telephone-number-claimant.html">
              <button class="govuk-button" data-module="govuk-button">
                Continue
              </button>
            </a>
          </div>

          <div class="govuk-button-group">
            <a class="govuk-link" href="start-dashboard-claimant.html">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .input-row {
      display: flex;
      align-items: baseline; /* Adjusted from 'center' to 'baseline' */
      margin-bottom: 10px;
    }

    .govuk-input {
      margin-right: 10px;
    }
  </style>


<script>
    function addAnother() {
      var inputsContainer = document.getElementById('inputs-container');
      var newInputRow = document.createElement('div');
      newInputRow.className = 'input-row';
  
      var newInput = document.createElement('input');
      newInput.className = 'govuk-input';
      newInput.type = 'text';
      newInput.name = 'more-detail';
      newInput.maxlength = '15';
      newInput.style.width = '20ch';
  
      newInputRow.appendChild(newInput);
  
      // Add delete button only to new input rows
      if (inputsContainer.children.length > 0) {
        var deleteButton = document.createElement('button');
        deleteButton.className = 'govuk-button govuk-button--secondary';
        deleteButton.textContent = 'Delete';
        deleteButton.onclick = function () {
          deleteInputRow(newInputRow);
        };
        newInputRow.appendChild(deleteButton);
      }
  
      inputsContainer.appendChild(newInputRow);
    }
  
    function deleteInputRow(row) {
      var inputsContainer = document.getElementById('inputs-container');
      inputsContainer.removeChild(row);
    }
  </script>

{% endblock %}
