{% extends "layouts/main-legalrep.html" %}

{% block pageTitle %}
  Manage cases – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block main %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class="grid-item-case-list govuk-heading-xl">
          <div class="case-header">
            <h1 class="case-list-header" style="font-size: 40px;">Respond to claim</h1>
          </div> <!-- Close the "case-header" container -->
          <div class="govuk-!-padding-bottom-8"></div>

          <h3 class="govuk-heading-m">#1234-5678-9101-2131</h3>

 
                  <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                      You have submitted your response
                    </h1>
                    <div class="govuk-panel__body">
                      Claim number: <strong>HDJ2123F</strong>
                    </div>
                  </div>

                  <h2 class="govuk-heading-m">What happens next</h2>

                  <p class="govuk-body">The claimant has until 4pm on 12th july 2024 to respond to your claim. 
                    We will let you know when they respond.</p>     
                    
                    <p class="govuk-body">
                    <a href="#" class="govuk-link">Download questionnaire (opens in a new tab) </a>
                      </p>

            </a>
            <a href="case-list.html">
              <button class="govuk-button" data-module="govuk-button">
                Continue and return to case details
              </button>
            </a>

            <div class="govuk-button-group">
                <a class="govuk-link" href="start-dashboard-defendant.html">Cancel</a>
              </div>
          </div>

         

        </div>
      </div>
    </div>
  </div>

{% endblock %}
